*{
    margin: 0px;
    padding: 0px;
}
html{
    scroll-behavior: smooth;
}
.content{
    width: 100%;
    height:auto;
}
.img img{
    position: absolute;
    display: inline-block;
    margin-top: -280px;
    margin-left: 50px;
    height: 430px;
}
#pxl{
    display: none;
}
.skil{
    width: auto;
    height: auto;
    border-radius: 40px;
    display: inline-block;
    margin-top: 20px;
    background-color: rgb(185, 185, 185);
    padding: 10px 5px;
    font-weight: bold;
    cursor: default;
    user-select: none;
}
.name-cont{
    font-size: 25px;
    color: white;
    font-family: Bradley Hand, cursive;
    display: inline-block;
    text-shadow:  0px 0px 10px #411b9c, 0px 0px 10px #411b9c;
    margin-right: 500px;
    margin-top: 60px;
    text-align: left;
    cursor: default;
    user-select: none;
    position: sticky;
}
.information{
    width: 40%;
    border-radius: 10px;
    font-family: OCR A Std, monospace;
    margin-left: 150px;
    height: 200px;
    text-align: center;
}
.information h3{
    padding-top: 70px;
    user-select: none;
}
#prlx2{
  width: 400px;
    position: absolute;
    margin-top: -270px;
    width: 300px;
    margin-left: 60px;
}
.projects{
    height:auto;
    width: 98%;
    border-radius: 7px;
    background-color: rgb(240, 240, 240);
}
.inf-card{
    width: 96%;
    margin-top: 120px;
    height:  200px;
    background-color: rgb(240, 240, 240);
}.card{
    width: 300px;
    height: 320px;
}
.project-card{
    width: 300px;
    height: 300px;
    box-shadow: 2px 2px 4px 4px rgb(173, 173, 173);
    margin-left: 20px;
    border-radius: 20px;
    background-size: cover;
    display: inline-block;
    margin-top: 50px;
}
.project-card .level2{
    width: 100%;
    height: 100%;
    border-radius: 20px; 
    transition: 0.6s;
    opacity: 0;
}
.project-card .level2:hover{
    opacity: 1;
    transition: 0.5s;
}
.view-proj{
    width: 140px;
    height: 40px;
    border: none;
    outline: none;
    margin-top: 50%;
    border-radius: 15px;
    color: white;
    font-size: 18px;
    font-weight:bold;
    font-family: OCR A Std, monospace;
    cursor: pointer;
}
.name {
 font-family: OCR A Std, monospace;
 display: inline-block;
}
.social{
    text-align: center;
}
.up{
    position: fixed;
    width: 50px;
    height: 50px;
    border-radius: 40px;
    background: #411b9c;
    bottom: 40px;
    right: 50px;
    padding: 2px 0px;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    display: none;
    color: white;
    font-size:22px;
    transition: 0.5s;
}
.up.scrol{
    display: block;
    transition: 0.5s;
}
.small{
    font-family: OCR A Std, monospace;
    display: inline-block;
}
.name, .small{
    cursor: default;
    user-select: none;
}
.last{
    width: 98%;
    height: 400px;
    background-color: #411b9c;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
a{
    display: inline-block;
    text-decoration: none;
}
@media all and (max-width: 500px){
    .img2{
        display: none;
    }
    #prlx{
        display: none;
}
#pxl{
    display: block;
    position: absolute;
    margin-top: -90px;
    margin-right: 150px;
    width: 350px;
    height: 350px;
}.img{
    text-align: center;
    align-items: center;
    margin-left: 0px;
    margin-top: 20px;
    margin-right: 60px;
}
.information h3{
    text-align: center;
    padding: 30px;
    width: 100%;
    margin-right: 60px;
}
.projects{
     margin-top: 90px;
}
.inf-card{
  display: none;
}
.name-cont{
    text-align: center;
    margin-right: 0;
    margin-top: 20px;
}

    }
